body{
	background-color: black;
}
/* Food List css */

.food-list {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .food-item {
    width:500px;
    height:400px;
    overflow: hidden;
    margin: 10px;
    border: 2px solid #0097e6;
    background-color: white;
  }
  
  .food-image {
    /* width:390px; */
    height:240px;
  }
  
  .food-image img {
     height: 100%;
     width: 100%;
     object-fit: contain;
  }
  
  .food-bottom {
    margin-bottom: 0px;
  }
  
  .food-list:hover {
    border-color: grey;
  }
  
  /* Pagination css */
  
  .pages {
    margin:15px;
  }
  
  .prev-page {
    float: left;
    background-color: #f1f1f1;
    color: black;
  }
  
  .next-page {
    float: right;
    background-color: #4CAF50;
    color: white;
  }
  
  .page-link {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .page-link:hover {
    background-color: #ddd;
    color: black;
  }
  
  .page-no {
    text-align: center;
  }
  
  /* Loader css  */
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  